@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Montserrat:wght@600&family=Poppins:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

/*colors*/
/*fonts*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

body,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1442px;
  padding: 2rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  margin-bottom: 6rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5rem;
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  font-size: 2.25rem;
  font-family: Heebo;
  line-height: 53px;
  letter-spacing: 0em;
}

/*navigation*/
.open {
  left: 0;
}

.navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.toggle-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.toggle {
  display: none;
}

.toggle a {
  text-decoration: none;
  color: #333333;
  display: block;
  font-size: 24px;
}

@media (max-width: 767px) {
  .toggle {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation-menu__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    left: -250px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #FFFFFF;
    width: 250px;
    height: 100%;
  }
}

ul li {
  color: #333333;
  font-family: "Poppins", sans-serif;
  margin-left: 1.5rem;
}

@media (max-width: 767px) {
  ul li {
    margin: 15px 10px;
  }
}

ul li a {
  text-decoration: none;
  color: #333333;
}

ul li:last-child {
  margin-right: 0;
}

/* --- end of navigation */
.creator__name {
  color: #FFFFFF;
}

.content-bg {
  font-size: 18px;
  width: 67px;
  height: 67px;
  background-color: #2D9CDB;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

i.customUX {
  font-size: 2.6em;
  color: #FFFFFF;
  background-color: #2D9CDB;
  width: 4rem;
  height: 4rem;
  border-radius: 16px;
  padding: 12px 12px;
}

i.customFrontEnd {
  font-size: 2.2rem;
  color: #FFFFFF;
  background-color: #27AE60;
  width: 4rem;
  height: 4rem;
  border-radius: 16px;
  padding: 13px 13.2px;
}

i.customBackEnd {
  font-size: 2.3rem;
  color: #FFFFFF;
  background-color: #EB5757;
  width: 4rem;
  height: 4rem;
  border-radius: 16px;
  padding: 13px 13px;
}

footer {
  background-color: #100E1D;
}
/*# sourceMappingURL=style.css.map */