@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Montserrat:wght@600&family=Poppins:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

/*colors*/
/*fonts*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  border: 0;
}

.clearfix {
  zoom: 1;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  margin: 2rem auto;
  max-width: 1300px;
  padding: 2rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  margin-bottom: 6rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 3.3rem;
  letter-spacing: 0em;
}

/*navigation*/
.open {
  left: 0rem;
}

.navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.toggle-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: 0em;
  text-align: right;
  margin-left: 30rem;
}

@media (max-width: 767.9px) {
  .toggle-nav {
    margin-left: 0rem;
    margin-top: 3rem;
  }
}

.toggle {
  display: none;
}

.toggle a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #333333;
  display: block;
  font-size: 1.5rem;
}

@media (max-width: 767.9px) {
  .toggle {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.btn-toggle {
  margin: .2rem 0 0 2rem;
  font-size: 24px;
}

.navigation-menu__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.9px) {
  ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 1.5rem;
    left: -270px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #FFFFFF;
    max-width: 350px;
    max-height: 100%;
  }
}

ul li {
  margin: 0 10px;
  color: #333333;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 767.9px) {
  ul li {
    margin: 20px 40px;
  }
}

ul li a {
  text-decoration: none;
  color: #333333;
}

/* --- end of navigation */
.card-home__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #2D9CDB;
  margin-bottom: 1rem;
  margin-left: 13rem;
}

.card-home__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: #333333;
  line-height: 4.5rem;
  max-width: 543px;
  margin-bottom: 2rem;
  margin-left: 13rem;
}

.card-home__image {
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-home__image img {
  width: 100%;
}

.card-purpose__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: #333333;
  line-height: 4.5rem;
  font-family: "Poppins", sans-serif;
  max-width: 370px;
  margin-top: 2.5rem;
  margin-left: 13rem;
  margin-bottom: 2.5rem;
}

.card-purpose__description {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  line-height: 1.9rem;
  color: #4F4F4F;
  font-weight: 400;
  margin-left: 13rem;
  max-width: 450px;
  margin-bottom: 2.5rem;
}

.card-purpose__question {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.3rem;
  color: #828282;
  margin-left: 13rem;
  margin-top: 2.6rem;
  margin-bottom: 0.56rem;
}

.card-purpose__email-join1 {
  position: relative;
  display: inline-block;
  width: 350px;
  background: #F2F2F2;
  border-radius: 12px;
  margin-left: 12.8rem;
  margin-bottom: 12rem;
}

.card-purpose__email-join1--input {
  border: none;
  width: 350px;
  height: 57px;
  background-color: #F2F2F2;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7rem;
  letter-spacing: 0em;
  color: #BDBDBD;
  padding-left: 1.31rem;
  width: 100%;
}

.card-purpose__email-join1--submit {
  margin-left: -6.2rem;
  position: absolute;
  border: none;
  width: 94px;
  height: 49px;
  background-color: #2D9CDB;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7rem;
  color: #F2F2F2;
  margin-top: 4px;
  cursor: pointer;
  z-index: 2;
}

.card-purpose__email-join1--submit:hover {
  background-color: #2d9bdbd8;
}

.card-purpose__email-join1--submit:active, .card-purpose__email-join1--submit::-moz-selection, .card-purpose__email-join1--submit:focus, .card-purpose__email-join1--submit:visited {
  outline: none;
}

.card-purpose__email-join1--submit:active, .card-purpose__email-join1--submit::selection, .card-purpose__email-join1--submit:focus, .card-purpose__email-join1--submit:visited {
  outline: none;
}

.card-services {
  margin-bottom: 12rem;
}

.card-services__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 3.38rem;
  color: #333333;
  margin-left: 5rem;
  max-width: 346px;
  margin-bottom: 2.6rem;
}

.card-services-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-services-boxes > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-UX,
.card-BackEnd,
.card-FrontEnd {
  max-width: 341px;
}

.card-UX__title,
.card-BackEnd__title,
.card-FrontEnd__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: .card-UX__title, .card-BackEnd__title, .card-FrontEnd__title #333333;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.card-UX__description,
.card-BackEnd__description,
.card-FrontEnd__description {
  max-width: 250px;
  font-family: .card-UX__description, .card-BackEnd__description, .card-FrontEnd__description oppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #4F4F4F;
}

.card-UX__button,
.card-BackEnd__button,
.card-FrontEnd__button {
  width: 116px;
  height: 42px;
  background-color: #E0E0E0;
  border-radius: 12px;
  border: none;
  margin: 2.4rem 0 2.8rem -.15rem;
  font-family: .card-UX__button, .card-BackEnd__button, .card-FrontEnd__button Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
  color: #828282;
}

.card-UX__button:hover,
.card-BackEnd__button:hover,
.card-FrontEnd__button:hover {
  background-color: #BDBDBD;
}

.card-UX:hover,
.card-BackEnd:hover,
.card-FrontEnd:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
          box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
  max-width: 341px;
  cursor: pointer;
}

i.card-UX__customUX {
  font-size: 2.6rem;
  color: #FFFFFF;
  background-color: #2D9CDB;
  width: 4rem;
  height: 4rem;
  border-radius: 16px;
  padding: 16px 0px 0px 20px;
  margin-top: 2.7rem;
  margin-left: 2rem;
}

i.card-FrontEnd__customFrontEnd {
  font-size: 2.7rem;
  color: #FFFFFF;
  background-color: #27AE60;
  width: 4rem;
  height: 4rem;
  border-radius: 16px;
  padding: 20px 0px 0px 21px;
  margin-left: 2rem;
  margin-top: 2.7rem;
}

i.card-BackEnd__customBackEnd {
  font-size: 2.8rem;
  color: #FFFFFF;
  background-color: #EB5757;
  width: 4rem;
  height: 4rem;
  border-radius: 16px;
  padding: 15px 0px 0px 19px;
  margin-left: 2rem;
  margin-top: 2.7rem;
}

.card-FrontEnd__title {
  margin-left: 2rem;
}

.card-FrontEnd__description {
  margin-left: 2rem;
}

.card-FrontEnd__button {
  margin: 2.4rem 0 2.8rem 1.8rem;
}

.card-BackEnd__title, .card-BackEnd__description {
  margin-left: 2rem;
}

.card-BackEnd__button {
  margin-left: 1.8rem;
}

.card-UX__title, .card-UX__description {
  margin-left: 2rem;
}

.card-UX__button {
  margin-left: 1.8rem;
}

.card-OurWorks {
  margin-bottom: 13rem;
}

.card-OurWorks__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 3.375rem;
  color: #333333;
  max-width: 448px;
  margin-bottom: .75rem;
}

.card-OurWorks__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1.1rem;
}

.smarthome,
.booking {
  margin-top: 11rem;
}

.smarthome__img,
.onboard__img,
.booking__img,
.Juice-product__img {
  width: 100%;
  border-radius: 12px;
}

.smarthome__decription-1,
.onboard__decription-1,
.booking__decription-1,
.Juice-product__decription-1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.875;
  line-height: 1.31rem;
  color: #828282;
  margin-top: 1.25rem;
}

.smarthome__decription-2,
.onboard__decription-2,
.booking__decription-2,
.Juice-product__decription-2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #333333;
}

.smarthome__img img,
.onboard__img img,
.booking__img img,
.Juice-product__img img {
  width: 100%;
}

.see-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #2D9CDB;
  margin-top: -2rem;
}

.see-more__arrow {
  margin-left: 0.3rem;
  margin-top: .2rem;
  background-color: transparent;
  outline: none;
  border: none;
  color: #2D9CDB;
}

.see-more__arrow:hover {
  border: 1px solid #2D9CDB;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}

.team-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-wrap > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 70%;
          flex: 1 70%;
}

.team__pre-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.7rem;
  color: #EB5757;
  margin-bottom: .5rem;
  margin-top: 11rem;
}

.team__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 3.4rem;
  color: #333333;
  max-width: 280px;
  margin-bottom: 0.875rem;
}

.team__about {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 24px;
  color: #4F4F4F;
  max-width: 270px;
}

.team-photos {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr, 1fr;
      grid-template-columns: 1fr, 1fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 0;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.team-photos__person3 {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.team-photos__person1 {
  -ms-grid-column: 2;
  grid-column: 2 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  margin-top: 2.2rem;
}

.team-photos__person2 {
  -ms-grid-column: 2;
  grid-column: 2 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

.team-photos img {
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.client__line {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 3.375rem;
  color: #333333;
  max-width: 937px;
  margin-top: 12rem;
  margin-bottom: 2.25rem;
}

.client__persona-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client__persona-wrap2 > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client__persona-img {
  width: 7%;
  margin-right: 1rem;
  margin-bottom: 12rem;
  border-radius: 12px;
}

.client__persona-img img {
  width: 100%;
}

.client__persona-name {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #333333;
  margin-left: 1rem;
}

.client__persona-firm {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.67rem;
  color: #828282;
  margin-left: 1rem;
}

.footer-container {
  background-color: #100E1D;
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding: 0;
}

.footer-nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  margin-top: 2rem;
  display: block;
  margin-left: 2rem;
  list-style-type: none;
}

.footer-nav__item {
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 2.25rem;
  list-style: none;
  padding: 5px 0;
  margin-left: 0;
  list-style-type: none;
}

.Edie {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.Edie-logo {
  font-family: "Heebo", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 3.3rem;
  color: #F2F2F2;
  margin-top: 3rem;
  margin-left: 7rem;
}

.Edie-socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: .5rem;
  margin-left: 7rem;
}

.Edie-socialLinks__instagram,
.Edie-socialLinks__LinkedIn,
.Edie-socialLinks__Twitter {
  padding-right: .68rem;
  cursor: pointer;
}

.contact-request {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.contact-request__question {
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.3rem;
  color: #F2F2F2;
  margin-top: 3rem;
  margin-left: 14rem;
  margin-bottom: .5rem;
}

.contact-request__email-join {
  position: relative;
  display: inline-block;
  width: 350px;
  height: 57px;
  background: #F2F2F2;
  border-radius: 12px;
  margin-left: 14rem;
  margin-bottom: 12rem;
}

.contact-request__email-join--input {
  border: none;
  width: 350px;
  height: 57px;
  background-color: #F2F2F2;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7rem;
  letter-spacing: 0em;
  color: #BDBDBD;
  padding-left: 1.31rem;
  width: 100%;
}

.contact-request__email-join--submit {
  position: absolute;
  margin-left: -6rem;
  border: none;
  width: 94px;
  height: 49px;
  background-color: #2D9CDB;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7rem;
  color: #F2F2F2;
  margin-top: 4px;
  cursor: pointer;
  z-index: 2;
}

.contact-request__email-join--submit:hover {
  background-color: #2d9bdbd8;
}

.contact-request__email-join--submit:active, .contact-request__email-join--submit::-moz-selection, .contact-request__email-join--submit:focus, .contact-request__email-join--submit:visited {
  outline: none;
}

.contact-request__email-join--submit:active, .contact-request__email-join--submit::selection, .contact-request__email-join--submit:focus, .contact-request__email-join--submit:visited {
  outline: none;
}

.creator {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
  text-align: center;
}

.creator__name a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.1rem;
  color: #F2F2F2;
  text-decoration: none;
}

/*=====smaller than tablet / mobile etc. =====*/
@media only screen and (max-width: 767.9px) {
  .container {
    margin: 0 auto;
    padding: .8rem;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  .card-home__image {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .card-home__image img {
    width: 100%;
  }
  .card-home__subtitle,
  .card-purpose__description,
  .card-purpose__question {
    margin-left: 2.5rem;
  }
  .card-home__title,
  .card-purpose__title,
  .card-services__title,
  .card-services__title,
  .card-OurWorks__title {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-left: 2.5rem;
  }
  .card-purpose__title {
    max-width: 227px;
  }
  .card-OurWorks__title {
    max-width: 300px;
  }
  .card-purpose__email-join1 {
    width: 290px;
    margin-bottom: 7rem;
    margin-left: .4rem;
  }
  .card-purpose__email-join1--input {
    border: none;
    width: 290px;
    font-size: .9rem;
    line-height: 1rem;
    padding-left: .5rem;
  }
  .card-purpose__email-join1--submit {
    margin-left: -4.6rem;
    width: 69px;
    height: 40px;
    font-size: 1.1rem;
    margin-top: 8.8px;
  }
  .card-services-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 760px;
    margin-left: 0;
  }
  .card-services-boxes > div {
    margin-bottom: 2rem;
    max-width: 500x;
  }
  .card-services {
    margin-bottom: 8rem;
    max-width: 500px;
  }
  .card-OurWorks__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .see-more {
    margin-top: 1.5rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0;
  }
  .team-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team-photos {
    -webkit-column-gap: .5rem;
            column-gap: .5rem;
  }
  .team__pre-title {
    margin-top: -5rem;
  }
  .team-photos__person3,
  .team-photos__person1,
  .team-photos__person2 {
    width: 100%;
  }
  .team-photos__person1 {
    margin-bottom: .5rem;
  }
  .client__line {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 6rem;
    margin-bottom: 2.25rem;
  }
  .client__persona-img {
    width: 18%;
    margin-bottom: 6rem;
  }
  .footer-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    margin: 0;
    padding: 0;
  }
  .footer-nav ul {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    position: static;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 2.25rem;
    list-style: none;
    padding: 5px 0;
    margin-left: 0rem;
    list-style-type: none;
    background-color: #100E1D;
  }
  .Edie {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .Edie-logo,
  .Edie-socialLinks {
    margin-left: 2rem;
  }
  .contact-request {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .contact-request__question {
    margin-left: 2rem;
  }
  .contact-request__email-join {
    max-width: 290px;
    height: 47px;
    font-size: 10px;
    line-height: 15px;
    margin-left: .18rem;
  }
  .contact-request__email-join--input {
    font-size: .9rem;
    line-height: 1rem;
    padding-left: .5rem;
  }
  .contact-request__email-join--submit {
    width: 71px;
    height: 39px;
    margin-left: -4.7rem;
    margin-top: 9px;
  }
  .creator {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  .creator__name a {
    font-size: 0.8rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
}

/*=====tablet and screen sizes smaller than laptop =====*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1023.9px) {
  .container {
    margin: 2rem auto;
    max-width: 1000px;
    padding: .5rem;
  }
  .toggle-nav {
    margin-left: 9rem;
    font-size: 1rem;
  }
  .team__title {
    font-size: 2rem;
    line-height: 3rem;
  }
  .team-photos {
    -webkit-column-gap: .5rem;
            column-gap: .5rem;
  }
  .team-photos__person3 {
    margin-left: .5rem;
  }
  .footer-nav {
    margin-left: 0rem;
  }
  .Edie {
    margin-left: -5rem;
  }
  .contact-request__question {
    margin-left: 1.2rem;
  }
  .contact-request__email-join {
    width: 350px;
    margin-left: 1rem;
  }
  .contact-request__email-join--input,
  .card-purpose__email-join1--input {
    font-size: .9rem;
  }
}

/*=====laptop and screen sizes smaller than laptop L ====*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1439.9px) {
  .container {
    margin: 2rem auto;
    max-width: 1200px;
    padding: 1rem;
  }
  .toggle-nav {
    margin-left: 12rem;
  }
  .contact-request__question {
    margin-left: 7.1rem;
  }
  .contact-request__email-join {
    margin-left: 7rem;
  }
  .container {
    margin: 2rem auto;
    max-width: 1200px;
    padding: 1rem;
  }
  .toggle-nav {
    margin-left: 12rem;
  }
  .contact-request__question {
    margin-left: 7.1rem;
  }
  .contact-request__email-join {
    margin-left: 7rem;
  }
}
/*# sourceMappingURL=style.css.map */