@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Montserrat:wght@600&family=Poppins:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

/*colors*/
/*fonts*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  border: 0;
}

.clearfix {
  zoom: 1;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 2rem auto;
  max-width: 1200px;
  padding: 1rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  margin-bottom: 6rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30rem;
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  font-size: 2.25rem;
  font-family: Heebo;
  line-height: 53px;
  letter-spacing: 0em;
}

/*navigation*/
.open {
  left: 0;
}

.navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.toggle-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.toggle {
  display: none;
}

.toggle a {
  text-decoration: none;
  color: #333333;
  display: block;
  font-size: 24px;
}

@media (max-width: 767px) {
  .toggle {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation-menu__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    left: -250px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #FFFFFF;
    width: 250px;
    height: 100%;
  }
}

ul li {
  color: #333333;
  font-family: "Poppins", sans-serif;
  margin-left: 1.5rem;
}

@media (max-width: 767px) {
  ul li {
    margin: 15px 10px;
  }
}

ul li a {
  text-decoration: none;
  color: #333333;
}

ul li:last-child {
  margin-right: 0;
}

/* --- end of navigation */
.card-home__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #2D9CDB;
  margin-bottom: 1rem;
  margin-left: 13rem;
}

.card-home__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: #333333;
  line-height: 4.5rem;
  max-width: 543px;
  margin-bottom: 2rem;
  margin-left: 13rem;
}

.card-home__image {
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-home__image img {
  width: 100%;
}

.card-purpose__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: #333333;
  line-height: 4.5rem;
  font-family: "Poppins", sans-serif;
  max-width: 370px;
  margin-top: 2.5rem;
  margin-left: 13rem;
  margin-bottom: 2.5rem;
}

.card-purpose__description {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  line-height: 1.9rem;
  color: #4F4F4F;
  font-weight: 400;
  margin-left: 13rem;
  max-width: 450px;
  margin-bottom: 2.5rem;
}

.card-purpose__question {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.3rem;
  color: #828282;
  margin-left: 13rem;
  margin-top: 2.6rem;
  margin-bottom: 0.56rem;
}

.card-purpose__email-join1 {
  display: inline-block;
  width: 350px;
  height: 57px;
  background: #F2F2F2;
  border-radius: 12px;
  margin-left: 12.8rem;
  margin-bottom: 12rem;
}

.card-purpose__email-join1--input {
  border: none;
  width: 350px;
  height: 57px;
  background-color: #F2F2F2;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7rem;
  letter-spacing: 0em;
  color: #BDBDBD;
  padding-left: 1.31rem;
}

.card-purpose__email-join1--submit {
  margin-left: -34%;
  border: none;
  width: 94px;
  height: 49px;
  background-color: #2D9CDB;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7rem;
  color: #F2F2F2;
  cursor: pointer;
  z-index: 2;
}

.card-purpose__email-join1--submit:hover {
  background-color: #2d9bdbd8;
}

.card-purpose__email-join1--submit:active, .card-purpose__email-join1--submit::-moz-selection, .card-purpose__email-join1--submit:focus, .card-purpose__email-join1--submit:visited {
  outline: none;
}

.card-purpose__email-join1--submit:active, .card-purpose__email-join1--submit::selection, .card-purpose__email-join1--submit:focus, .card-purpose__email-join1--submit:visited {
  outline: none;
}

.card-services {
  margin-bottom: 12rem;
}

.card-services__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 3.38rem;
  color: #333333;
  margin-left: 5rem;
  max-width: 346px;
  margin-bottom: 2.6rem;
}

.card-services-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5rem;
}

.card-services-boxes > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.card-UX__title,
.card-BackEnd__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: .card-UX__title, .card-BackEnd__title #333333;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.card-UX__description,
.card-BackEnd__description {
  max-width: 250px;
  font-family: .card-UX__description, .card-BackEnd__description oppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #4F4F4F;
}

.card-UX__button,
.card-BackEnd__button {
  width: 116px;
  height: 42px;
  background-color: #E0E0E0;
  border-radius: 12px;
  border: none;
  margin: 2.4rem 0 2.8rem -.15rem;
  font-family: .card-UX__button, .card-BackEnd__button Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
  color: #828282;
}

.card-UX__button:hover,
.card-BackEnd__button:hover {
  background-color: #BDBDBD;
}

i.card-UX__customUX {
  font-size: 2.6rem;
  color: #FFFFFF;
  background-color: #2D9CDB;
  width: 4rem;
  height: 4rem;
  border-radius: 16px;
  padding: 16px 0px 0px 20px;
  margin-top: 2.7rem;
}

i.card-FrontEnd__customFrontEnd {
  font-size: 2.7rem;
  color: #FFFFFF;
  background-color: #27AE60;
  width: 4rem;
  height: 4rem;
  border-radius: 16px;
  padding: 20px 0px 0px 21px;
  margin-left: 2rem;
  margin-top: 2.7rem;
}

i.card-BackEnd__customBackEnd {
  font-size: 2.8rem;
  color: #FFFFFF;
  background-color: #EB5757;
  width: 4rem;
  height: 4rem;
  border-radius: 16px;
  padding: 15px 0px 0px 19px;
  margin-left: 4.9rem;
  margin-top: 2.7rem;
}

.card-FrontEnd {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
          box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
  max-width: 341px;
  cursor: pointer;
}

.card-FrontEnd__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: .card-FrontEnd__title #333333;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
}

.card-FrontEnd__description {
  max-width: 250px;
  font-family: .card-FrontEnd__description oppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #4F4F4F;
  margin-left: 2rem;
}

.card-FrontEnd__button {
  width: 116px;
  height: 42px;
  background-color: #E0E0E0;
  border-radius: 12px;
  border: none;
  margin: 2.4rem 0 2.8rem 1.8rem;
  font-family: .card-FrontEnd__button Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
  color: #828282;
}

.card-FrontEnd__button:hover {
  background-color: #BDBDBD;
}

.card-BackEnd__title, .card-BackEnd__description {
  margin-left: 5rem;
}

.card-BackEnd__button {
  margin-left: 4.8rem;
}

footer {
  background-color: #100E1D;
}

.creator__name {
  color: #FFFFFF;
}

.content-bg {
  font-size: 18px;
  width: 67px;
  height: 67px;
  background-color: #2D9CDB;
  border-radius: 16px;
}
/*# sourceMappingURL=style.css.map */